button.expand-collapse {
  border: none;
  background: none;
  font-family: monospace;
}

.result .expanded {
  padding-left: 1em;
}

.result .key {
 font-weight: bold;
 color: rgb(107, 23, 107);
}

.result .number {
  color: rgb(42, 42, 183);
}

.result .one-line .key {
  font-weight: unset;
  color: grey;
}
.one-line.function pre {
  display: inline-block;
}
