.scrollback {
  padding-bottom: 2em;
}
.scrollback-entry {
  margin: 1em 0;
  font-family: monospace;
}

.scrollback-entry > * {
  padding-left: 1em;
  position: relative;
  margin: 0;
}
.scrollback-entry .code {
  color: hsla(200, 50%, 50%, 1);
}
.scrollback-entry .code::before {
  position: absolute;
  left: .125em;
  content: '>';
}

.result.thrown-error {
 background-color: rgb(255 204 204);
}
