html {
  background: hsla(0, 100%, 100%, .4);
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background:transparent;
  display: flex;
  flex-flow: column nowrap;
  flex-direction: column;
  font-family: monospace;
  font-size: 2em;
  position: relative;
  min-height: 100vh;
  margin: 0;
  justify-content: flex-end;
}
